$colors: (
  bg: #232937,
  primary: #27e8a7,
  secondary: #df4576,
  font: #e4f0fb,
  shadow: #506477,

  green: #32ae85,
  grey-green: #42675a,

  blue: #7390aa,
  light: #91b4d5,

  grey: #add7ff,
);
