.main-viewer
  include includes/navigation.pug
  
  main.main-container
    .construction-title
      h1 Maxime Bartier
      h5 Site en construction

  div(data-lg-cursor data-lg-cursor-hide)
    div(data-lg-cursor-pointer data-lg-cursor-inertia="0.1")
    div(data-lg-cursor-pointer)
